body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: Novus-Regular;
  /* src: local('Novus-Regular'), url(./fonts/Novus-Regular.otf) format('opentype'); */
  /* src: url(./fonts/Novus-Regular.otf) format('opentype'); */
  src: url("https://www.zhuliming.cn/static/font/Novus-Regular.otf") format('opentype');
}